
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}

<form method="post">
    <input type="hidden" name="username" value="@Session["user"]" class="form-control" />
    <input type="text" name="password" class="form-control" />
    <input type="submit" value="Save" class="btn btn-default"/>
</form>

